{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "defaults"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-regenerator",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}